<VirtualHost *:80>
    ServerAdmin webmaster@example.com
    DocumentRoot "/www1"
    ServerName {{ ansible_default_ipv4.address }}
    ErrorLog "/var/log/httpd/example.com-error_log"
    CustomLog "/var/log/httpd/example.com-access_log" common
    <Directory /www1>
        Require all granted
        Options Indexes FollowSymLinks Includes
        AllowOverride AuthConfig
    </Directory>
    ScriptAlias /cgi-bin /www1/cgi-bin
</VirtualHost>